# requirements.txt の例
fastapi
uvicorn[standard]
python-dotenv
line-bot-sdk>=3.0.0
SQLAlchemy
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
gunicorn
psycopg2-binary  # PostgreSQL を使う場合に追加
