Flask==2.2.2
gunicorn==20.1.0
line-bot-sdk==2.1.0
google-auth==2.6.0
google-auth-oauthlib==0.4.6
google-auth-httplib2==0.1.0
google-api-python-client==2.43.0
fastapi==0.95.1
uvicorn==0.23.1
line-bot-sdk
uvicorn
linebot.v3
